body {
    background-color: #E6E6E6;
    font-family: "Product Sans";
    font-size: 16px;
    letter-spacing: 0.35px;
    line-height: 19px;
}
#container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#loading-text {
    font-size: 24px;
}
.lds-dual-ring {
  margin-bottom: 23px;
  display: inline-block;
  width: 80px;
  height: 80px;
  position: absolute;
  margin-right: 35px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 100px;
  height: 100px;
  /* margin: 8px; */
  border-radius: 50%;
  border: 6px solid black;
  border-color: black transparent black transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
