body{
    background-color: #E6E6E6;
    font-family: "Product Sans";
    font-size: 16px;
    letter-spacing: 0.35px;
    line-height: 19px;
}
#container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#loading-text{
    font-size: 24px;
}
.dot-typing {
    position: relative;
    left: -9999px;
    top: 3px;
    width: 8px;
    height: 8px;
    margin-left: 22px;
    border-radius: 5px;
    background-color: black;
    color: black;
    box-shadow: 9984px 0 0 0 black, 9999px 0 0 0 black, 10014px 0 0 0 black;
    animation: dotTyping 1.5s infinite linear;
  }
  
  @keyframes dotTyping {
    0% {
      box-shadow: 9984px 0 0 0 black, 9999px 0 0 0 black, 10014px 0 0 0 black;
    }
    16.667% {
      box-shadow: 9984px -10px 0 0 black, 9999px 0 0 0 black, 10014px 0 0 0 black;
    }
    33.333% {
      box-shadow: 9984px 0 0 0 black, 9999px 0 0 0 black, 10014px 0 0 0 black;
    }
    50% {
      box-shadow: 9984px 0 0 0 black, 9999px -10px 0 0 black, 10014px 0 0 0 black;
    }
    66.667% {
      box-shadow: 9984px 0 0 0 black, 9999px 0 0 0 black, 10014px 0 0 0 black;
    }
    83.333% {
      box-shadow: 9984px 0 0 0 black, 9999px 0 0 0 black, 10014px -10px 0 0 black;
    }
    100% {
      box-shadow: 9984px 0 0 0 black, 9999px 0 0 0 black, 10014px 0 0 0 black;
    }
  }